<section id="dash-nav">
	<div id="profile-bttn" class="dash-nav-div"><button id="get-profile">Your Profile</button></div>
	<div id="connections-bttn" class="dash-nav-div"><button id="get-connections">All Connections</button></div>
	<div id="notifications-bttn" class="dash-nav-div"><button id="get-notifications">Notifications</button></div>
	<div id="add-connection-btnn" class="dash-nav-div"><button id="add-connection">Add Connection</button></div>
</section>

<section id="container">

	<div id="dash-content"></div>

</section>

<!-- LIBRARIES -->

<!-- TEMPLATES -->

<!-- profile view template -->
<script type="text/javascript" id="profile-view-template">
	<div id="profile-view-template-card-all">
		<div class="card-image">
		</div>
		<div class="card-info">
			<h3>Name:</h3>
			<p>User Name:</p>
			<p>Personal Email:</p>
			<p>Professional Email:</p>
			<p>Phone</p>
			<p>Company</p>
			<p>Position</p>
			<p>Website</p>
		<div>
	</div>

	<div id="profile-view-template-card-professional">
		<div class="card-image">
		</div>
		<div class="card-info">
			<h3>Name:</h3>
			<p>User Name:</p>
			<p>Professional Email:</p>
			<p>Phone</p>
			<p>Company</p>
			<p>Position</p>
			<p>Website</p>
		<div>
	</div>

	<div id="profile-edit-button"><div>
</script>

<!-- profile-edit-template -->
<script>

// <script type="text/javascript" id="profile-edit-template">
// 	<div id="profile-view-template-card-all">
// 		<div class="card-image-edit">
// 			<div class="card-image-"></div>
// 			<div class="card-image-edit-buttn"></div>
// 		</div class="card-info-edit">
// 			<form>
// 				Name: <field></field>
// 				User Name: <field</field>
// 				Professional Email: <field</field>
// 				Phone: <field</field>
// 				Company: <field</field>
// 				Position: <field</field>
// 				Website: <field</field>
// 			</form>
// 		<div>
// 	</div>

// 	<div id="profile-edit-template-card-professional-template">
// 		<div class="card-image">
// 		</div>
// 		<div class="card-info">
// 			<h3>Name:</h3>
// 			<p>User Name:</p>
// 			<p>Professional Email:</p>
// 			<p>Phone</p>
// 			<p>Company</p>
// 			<p>Position</p>
// 			<p>Website</p>
// 			<p></p>
// 		<div>
// 	</div>

// 	<div id="profile-edit-save-button"><div>
// </script>

	<script type="text/javascript" id="connection-view-template">
		<div class="connection-div">
			<h3><%= type %> OnTact</h3>
			<img src="<%= image %>">
			<h2><%= f_name %> <%= l_name %></h2>
			<ul>
				<li><%= headline %></li>
				<li><%= personal_phone %></li>
				<li><%= personal_email %></li>
				<li><%= professional_phone %></li>
				<li><%= professional_email %></li>
				<li><%= company %></li>
				<li><%= position %></li>
			</ul>
		</div>
	</script>

</script>