<section id="dash-nav">
	<div id="profile-bttn" class="dash-nav-div"><img class="dash-nav-img" src="/images/dashnav/View_Profile.png"></div>
	<div id="connections-bttn" class="dash-nav-div"><img class="dash-nav-img" src="/images/dashnav/View_Connections.png"></div>
	<div id="notifications-bttn" class="dash-nav-div"><img class="dash-nav-img" src="/images/dashnav/View_Notifications.png"></div>
	<div id="add-connection-bttn" class="dash-nav-div"><img class="dash-nav-img" src="/images/dashnav/Add_OnTact.png"></div>
	<hr>
</section>

<section id="container">

	<div id="dash-content"></div>

</section>

<!-- Local JS File -->

<script type="text/javascript" src="javascripts/dashboard.js"></script>

<!-- LIBRARIES -->

<!-- TEMPLATES -->

<!-- profile view template -->
<script type="text/javascript" id="profile-view-template">
	<div id="personal-card">
		<h2>Personal</h2>
		<div class="card-image">
			<img src=<%= @user.image %>>
		</div>
		<div class="card-info">
			<h3><%= @user.f_name %> <%= @user.l_name %></h3>
			<p><%= @user.headline %></p>

			<h4>Personal Phone</h4>
			<p><%= @user.personal_phone %></p>

			<h4>Work Phone</h4>
			<p><%= @user.professional_phone %></p>

			<h4>Personal Email</h4>
			<p><%= @user.personal_email %></p>

			<h4>Work Email</h4>
			<p><%= @user.professional_email %></p>

			<p><%= @user.position %> | <%= @user.company %> | <%= @user.website %></p>

		</div>
	</div>

	<div id="professional-card" class="clearfix">
		<h2>Professional</h2>
		<div class="card-image">
			<img src=<%= @user.image %>>
		</div>
		<div class="card-info">
			<h3><%= @user.f_name %> <%= @user.l_name %></h3>
			<p><%= @user.headline %></p>

			<h4>Work Phone</h4>
			<p><%= @user.professional_phone %></p>

			<h4>Work Email</h4>
			<p><%= @user.professional_email %></p>

			<p><%= @user.position %> | <%= @user.company %> | <%= @user.website %></p>
		</div>
	</div>

	<br>

	<div id="profile-edit-button">Edit<div><br><br><br>
</script>

<!-- profile-edit-template -->


<script type="text/javascript" id="profile-edit-template">
	<div id="profile-edit">
	<h2 class="form-h2">Edit Your OnTact Info</h2>
		<form method="POST" action="/users/<%= @user.id %>">
			<input type="hidden" name="_method" value="PUT"/>
			<label>First Name
				<input class="input-text" type="text" name="f_name" value=<%= @user.f_name %>>
			<label>
			<br>
			<label>Last Name
				<input class="input-text" type="text" name="l_name" value=<%= @user.l_name %>>
			<label>
			<br>
			<label>Headline
				<input class="input-text" type="text" name="headline" value=<%= @user.headline %>>
			<label>
			<br>
			<label>Avatar</label>
				<div class="edit-avatar-divs">
					<img src="/images/avatars/BaoBao.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/BaoBao.png">BaoBao
					<br>
				<div>

				<div class="edit-avatar-divs">
					<img src="/images/avatars/Benedict.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/Benedict.png">Benedict
					<br>
				<div>

				<div class="edit-avatar-divs">
					<img src="/images/avatars/Blitzen.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/Blitzen.png">Blitzen
					<br>
				<div>

				<div class="edit-avatar-divs">
					<img src="/images/avatars/Henry.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/Henry.png">Henry
					<br>
				<div>

				<div class="edit-avatar-divs">
					<img src="/images/avatars/Hubert.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/Hubert.png">Hubert
					<br>
				<div>

				<div class="edit-avatar-divs">
					<img src="/images/avatars/Petra.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/Petra.png">Petra
					<br>
				<div>

				<div class="edit-avatar-divs">
					<img src="/images/avatars/Stefon.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/Stefon.png">Stefon
					<br>
				<div>

				<div class="edit-avatar-divs">
					<img src="/images/avatars/Thaddeus.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/Thaddeus.png">Thaddeus
					<br>
				<div>

				<div class="edit-avatar-divs">
					<img src="/images/avatars/Thomas.png">
					<br>
					<input type="radio" name="image" value="/images/avatars/Thomas.png">Thomas
					<br>
				<div>

			<br>
			<label>Personal Phone
				<input class="input-text" type="text" name="personal_phone" value=<%= @user.personal_phone %>>
			<label>
			<br>
			<label>Work Phone
				<input class="input-text" type="text" name="professional_phone" value=<%= @user.professional_phone %>>
			<label>
			<br>
			<label>Personal Email
				<input class="input-text" type="text" name="personal_email" value=<%= @user.personal_email %>>
			<label>
			<br>
			<label>Work Email
				<input class="input-text" type="text" name="professional_email" value=<%= @user.professional_email %>>
			<label>
			<br>
			<label>Position
				<input class="input-text" type="text" name="position" value=<%= @user.position %>>
			<label>
			<br>
			<label>Company
				<input class="input-text" type="text" name="company" value=<%= @user.company %>>
			<label>
			<br>
			<label>Website
				<input class="input-text" type="text" name="website" value=<%= @user.website %>>
			<label>
			<br>
			<button class="input-submit" id="submit-edit">Submit Changes</button><br><br>
		</form>
	</div>
	<a href="/users/<%= @user.id %>"><button>Cancel</button></a>
</script>

<!-- VIEW Connections Template -->

<script id="connections-all-template" type="text/javascript">
	<h2 class="form-h2">Your OnTacts</h2>

	<div id="scrolladex">
		<% @connected_users.each do |user| %>
			<div class="item connection-card" id="<%= user.username %>">
				<div class="card-image-div-scrolladex">
					<img class="card-image-scrolladex" src=<%= user.image %>>
				</div>
				<div class="card-info-scrolladex">
					<h3><%= user.f_name %> <%= user.l_name %></h3>
					<p class="headline-scrolladex"><%= user.headline %></p><br>
					<p><%= user.position %> <%= user.company %></p>
					<p><%= user.username %></p>
				</div>
			</div>
		<% end %>
	</div>
</script>

<!-- VIEW Requests Template -->

<script id="notifications-view-template" type="text/javascript">
	
	<div class="notifications-title-div">
		<h3 class="notifications-title">Requests to Connect</h3>
	</div>

	<div class="request-card-view-div">
		<% @requests.each do |request| %>
			<div class="request-card-view" id=<%= request.id %>>
				<div class="request-image-div"><img class="request-image" src="<%= request.initiator.image %>"></div>
					<h3><%= request.initiator.f_name %> <%= request.initiator.l_name %></h3>
					<p><%=request.initiator.position%> | <%= request.initiator.company %></p>
				<div id="accept" class="accept">
					<p>accept</p>
				</div>

				<div id="reject" class="reject clearfix">
					<p>reject</p>
				</div>

			</div>
		<% end %>
	</div><br><br>

</script>



<!-- ADD Connection Template -->

<script id="add-connection-template" type="text/javascript">
	<div id="add-connection-div">
		<h2 class="form-h2">Add OnTact</h2>
		<form>
			<input id="find-username" class="input-text" type="text" placeholder="Enter an OnTact username"><br>
			<input id="find-connection-bttn" class="input-submit" type="submit" value="Connect">
		</form>
	</div>
	<div id="invite-to-button-div">
		<p id="invite-to-button-div-txt">Invite to OnTact</p>
	</div>
</script>

<!-- INVITE Template -->
<script id="invite-template" type="text/javascript">
	<div id="invite-page-div">
		<h3 class="form-h2">Invite someone to join OnTact!</h3>
		<form id="invite-form">
			<input class="input-text" id="invite-name" type="text" placeholder="first name" required><br>
			<input class="input-text" id="invite-email" type="email" placeholder="e-mail address" required><br>
			<button class="input-submit">Send Invite</button><br>
		</form>
	</div>
</script>






