<section id="dash-nav">
	<div id="profile-bttn" class="dash-nav-div"><img class="dash-nav-img" src="/images/profile.jpg"></div>
	<div id="connections-bttn" class="dash-nav-div"><img class="dash-nav-img" src="/images/connections.jpg"></div>
	<div id="notifications-bttn" class="dash-nav-div"><img class="dash-nav-img" src="/images/notifications.jpg"></div>
	<div id="add-connection-bttn" class="dash-nav-div"><img class="dash-nav-img" src="/images/add_connection.jpg"></div>
</section>

<section id="container">

	<div id="dash-content"></div>

</section>

<!-- Local JS File -->

<script type="text/javascript" src="javascripts/dashboard.js"></script>

<!-- LIBRARIES -->

<!-- TEMPLATES -->

<!-- profile view template -->
<script type="text/javascript" id="profile-view-template">
	<div id="personal-card">
		<h2>Personal</h2>
		<div class="card-image">
			<img src=<%= @user.image %>>
		</div>
		<div class="card-info">
			<h3><%= @user.f_name %> <%= @user.l_name %></h3>
			<h4>Headline (currently not in DB)</h4>

			<h4>Personal Phone</h4>
			<p><%= @user.personal_phone %></p>

			<h4>Work Phone</h4>
			<p><%= @user.professional_phone %></p>

			<h4>Personal Email</h4>
			<p><%= @user.personal_email %></p>

			<h4>Work Email</h4>
			<p><%= @user.professional_email %></p>

			<p><%= @user.position %> | <%= @user.company %> | <%= @user.website %></p>

		<div>
	</div>

	<div id="professional-card">
		<h2>Professional</h2>
		<div class="card-image">
			<img src=<%= @user.image %>>
		</div>
		<div class="card-info">
			<h3><%= @user.f_name %> <%= @user.l_name %></h3>
			<h4>Headline (currently not in DB)</h4>

			<h4>Work Phone</h4>
			<p><%= @user.professional_phone %></p>

			<h4>Work Email</h4>
			<p><%= @user.professional_email %></p>

			<p><%= @user.position %> | <%= @user.company %> | <%= @user.website %></p>

		<div>
	</div>

	<div id="profile-edit-button">Edit<div>
</script>

<!-- profile-edit-template -->


<script type="text/javascript" id="profile-edit-template">
	<div id="profile-edit">
		<form method="POST" action="/users/<%= @user.id %>">
			<input type="hidden" name="_method" value="PUT"/>
			<label>First Name
				<input type="text" name="f_name" value=<%= @user.f_name %>>
			<label>
			<br>
			<label>Last Name
				<input type="text" name="l_name" value=<%= @user.l_name %>>
			<label>
			<br>
			<label>Headline
				<input type="text" name="headline" value="not in db yet">
			<label>
			<br>
			<label>Personal Phone
				<input type="text" name="personal_phone" value=<%= @user.personal_phone %>>
			<label>
			<br>
			<label>Work Phone
				<input type="text" name="professional_phone" value=<%= @user.professional_phone %>>
			<label>
			<br>
			<label>Personal Email
				<input type="text" name="personal_email" value=<%= @user.personal_email %>>
			<label>
			<br>
			<label>Work Email
				<input type="text" name="professional_email" value=<%= @user.professional_email %>>
			<label>
			<br>
			<label>Position
				<input type="text" name="position" value=<%= @user.position %>>
			<label>
			<br>
			<label>Company
				<input type="text" name="company" value=<%= @user.company %>>
			<label>
			<br>
			<label>Website
				<input type="text" name="website" value=<%= @user.website %>>
			<label>
			<br>
			<button id="submit-edit">Submit Changes</button>
		</form>
	</div>
	<a href="/users/<%= @user.id %>"><button>Cancel</button></a>
</script>

<!-- VIEW Connections Template -->

<script id="connections-all-template" type="text/javascript">
	<h2>Your OnTacts</h2>

	<div id="scrolladex">
		<% @connected_users.each do |user| %>
			<div class="item connection-card" id="<%= user.username %>">
				<div class="card-image">
					<img src=<%= user.image %>>
				</div>
				<div class="card-info">
					<h3><%= user.f_name %> <%= user.l_name %></h3>
					<p><%= user.position %> <%= user.company %></p>
					<p><%= user.username %></p>
				</div>
			</div>
		<% end %>
	</div>
</script>


<!-- ADD Connection Template -->

<script id="add-connection-template" type="text/javascript">
	<h3>Add OnTact</h3>
		<form>
			<input id="find-username" type="text" placeholder="enter a username">
			<input id="find-connection-bttn" type="submit" value="connect">
		</form>
</script>






